html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    font-size: 6vw;
    color: white;
    width: 100vw;
    height: 10vw;
    background-color: #5fc0cd;
    position: fixed;
    top:0 ;

}
img.back{
    width: 5vw;
    height: 5vw;
    position: fixed;
    left: 1vw;
    top: 2vw;
}
div.main{
    width: 10vw;
    min-height: 100%;
    background-color: #5fc0cd;


}
div.introduction{
    background:
            url("../IMG/task5-background.png")
            no-repeat
            fixed
            center;
    background-size: cover;
    width: 100vw;
    height: 50vw;


}
img.photo{
    width: 30vw;
    height: 13vw;
    position: absolute;
    left: 10vw;
    top: 25vw;

}
footer{
    width: 100vw;
    height: 10vw;
    background-color: white;
    position: fixed;
    bottom: 0;
}
button.message{
    font-size: 6vw;
    width: 38vw;
    position: fixed;
    left: 5vw;
    border: hidden;

}
button.call{
    font-size: 6vw;
    width: 38vw;
    background-color: #5fc0cd;
    position: fixed;
    right: 5vw;
    border: hidden;
}